---
import { formatDate } from "../../lib/helpers";
import Card from "../Card/index.astro";

interface Props {
  title: string;
  date: Date;
  id: string;
}

const { title, date, id } = Astro.props;
---

<li class="list-none w-full my-1">
  <Card
    colSpan="col-span-1"
    rowSpan="row-span-1"
    height="h-auto"
    padding="px-6 py-4"
  >
    <a
      href={`/blog/${id}`}
      class="absolute inset-0 z-40"
      aria-label={`Read ${title}`}></a>
    <div
      class="flex flex-col sm:flex-row justify-between sm:items-center h-full pointer-events-none gap-4"
    >
      <h2
        class="font-medium text-lg m-0 line-clamp-1 flex-grow pr-2 transition-colors group-hover:text-primary-500"
      >
        {title}
      </h2>
      <div class="flex">
        <time
          class="text-sm text-neutral-400 tabular-nums shrink-0"
          data-date={date.toISOString()}
          datetime={date.toISOString()}
        >
          {formatDate(date)}
        </time>
      </div>
    </div>
  </Card>
</li>
